.nav_sec {
    height: 80px;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.logo_div {
    display: flex;
    align-items: center;
}

.logo_div span {
    color: yellow;
}

.logo_div img {
    width: 60px;
    height: 35px;
}

.nav_center_div {
    display: flex;
    align-items: center;
    width: 230px;
    justify-content: space-between;
}

.nav_icon_div {
    display: flex;
    align-items: center;
    width: 130px;
    justify-content: space-between;
    font-size: 22px;
}

.below_nav_sec {
    height: 70px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.below_nav_sec div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    width: 130px;
    font-size: 18px;
}

.below_nav_sec div:nth-child(2) p {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    background: rgb(194, 193, 193);
    border-radius: 50%;
}
.below_nav_sec div:nth-child(2) p:nth-child(1){
    background: rgb(194, 193, 193);
    border: 1px solid #7AD0A7;
}
.below_nav_sec div:nth-child(2) p:nth-child(2){
    background-color:#7AD0A7 ;
    color: white;
}